@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(84, 21, 103);
    padding: 0;
    margin: 0;
}

.search {
    background-color: rgba(255, 255, 255, 0.75);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: .5rem;
    display: flex;
    height: 4rem;
    width: 100%;
    gap: .5rem;
}

.search input {
    background: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    border-radius: .25rem;
    padding: .5rem;
    border: none;
    height: 80%;
    width: 100%;
}

.search button {
    transition: transform .1s ease;
    background-color: transparent;
    color: rgb(84, 21, 103);
    width: fit-content;
    cursor: pointer;
    border: none;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

.rotate {
    animation: rotate 2s linear infinite;
}

h1,
p {
    padding: 0;
    margin: 0;
}

.songs {
    flex-direction: column;
    display: flex;
    color: #fff;
    margin: 10px;
    gap: 10px;
}

.songs h1 {
    font-size: 1.10rem;
}

.songs p {
    font-size: .9rem;
}

.songs div {
    transition: all .1s ease;
    border-radius: .25rem;
    user-select: none;
    cursor: pointer;
    padding: 10px;
}

.songs div:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.songs div:active {
    background-color: rgba(255, 255, 255, 0.5);
}